<div style="height:50px;"></div>
<footer  style=" height:50px; width:100%; position:fixed; bottom:0px; left:0px; background:#fff;">
  <hr>
  <p class="am-padding-left">© 2016 7-27号 by:qq7813180</p>
</footer>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="__PUBLIC__/assets/js/jquery.min.js"></script> 
<!--<![endif]--> 
<script src="__PUBLIC__/assets/js/amazeui.min.js"></script> 
<script src="__PUBLIC__/assets/js/app.js"></script>


<script>
$(function(){
  var height = $(document).height() - 100;
  $("#admin-offcanvas").css("height",height+'px');
});
</script>