<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>后台首页</title>
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/assets/css/admin.css">
<style>
.weixin_list .weixin { width: 100%; height: auto; border-bottom: 1px solid #ccc; }
.weixin_list .weixin .left { height: 290px; line-height: 290px; color: #000; }
</style>
</head>
<body>
<include file="slide" /> 
<!-- content start -->
<div class="admin-content">
  <div class="am-g" style="margin-top:20px;">
    <div class="am-u-md-8">
      <div class="am-panel am-panel-default">
        <div class="am-panel-hd am-cf"><!-- 第{:I('get.layer')}层域名列表 --><?php $layers = [1=>'微信群分享域名(第一层)',4=>'广告分享域名(第一层)',2=>'入口域名(第二层)',3=>'展示域名(第三层)']; echo $layers[$layer]; ?></div>
        <div id="collapse-panel-4" class="am-panel-bd am-collapse am-in">
          <div>
            </div>
            <div>
              <table class="am-table">
                <thead>
                  <tr>
                    <th style="width:4%"> ID</th>
                    <th>接口</th>
                    <th>平台</th>
                    <th>名称</th>
                    <th style="width:10%">状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody id="app">
                  <volist name="payinferlist" id="v">
                  <tr >
                    <td >{$v['id']}</td>
                    <td>{$v['infer']}</td>
                    <td ><?php if($v['sys']==1){echo '疯狂赚';}else if($v['sys']==2){echo '悦涩吧';}else if($v['sys']==3){echo '凌晨';} else{echo "激情影院";} ?></td>
                    <td>{$v['name']}</td>
                    <td><?php if($v['status']==1){echo '启用';}else if($v['status']==0){echo '备用';}else{echo '取消';} ?></td>
                    <td>
                      <!--<if condition="$type neq 1">-->
                        <!--<a href="{:U('index/admin/domain_save',array('type'=>1,'id'=>$v['id']))}">启用</a>-->
                      <!--</if>-->

                        <a href="{:U('index/admin/cacelinfer',array('id'=>$v['id']))}">取消</a>
                      <!--<if condition="$type neq 3">-->
                        <!--<a href="{:U('index/admin/domain_save',array('type'=>3,'id'=>$v['id']))}">备用</a>-->
                      <!--</if>-->
                      <!--<a href="{:U('index/admin/savehtml',array('id'=>$v['id']))}">生成静态</a>-->
                    </td>
                  </tr>
                  </volist>
                </tbody>
              </table>
              </div>
            <div>
              {$page}
            </div>
          </div>
      </div>
    </div>
    <div class="am-u-md-4">
      <div class="am-panel am-panel-default">
        <div class="am-panel-hd am-cf">添加接口</div>
        <div id="collapse-panel-4" class="am-panel-bd am-collapse am-in">
          <form class="am-form am-form-horizontal" action="{:U('index/admin/add_infer')}" method="post" >
            <div class="am-form-group">
              <label for="doc-ipt-3"class="am-u-sm-2 am-form-label">接口</label>
              <div class="am-u-sm-10">
                <input type="text"  name="url" id="doc-ipt-3" placeholder="输入接口,多个请用“,”隔开">
              </div>
            </div>
            <div class="am-form-group">
              <label for="doc-ipt-3"class="am-u-sm-2 am-form-label">名称</label>
              <div class="am-u-sm-10">
                <input type="text"  name="name" id="doc-ipt-3" placeholder="接口名称">
              </div>
            </div>
			<!--
            <div class="am-form-group">
              <label class="am-u-sm-2 am-form-label">类型</label>
              <div class="am-u-sm-10">
                <select id="look" name="look" class="form-control" size="1">
                  <option value="0" selected>展示</option>
                  <option value="1">分享</option>
                </select>
              </div>
            </div>
			-->
			<!--<div class="am-form-group">-->
              <!--<label for="doc-ipt-3" name="k" class="am-u-sm-2 am-form-label">层级</label>-->
              <!--<div class="am-u-sm-10">-->
                <!--<select id="cid" name="layer" class="form-control" size="1"> -->
                  <!--<option value="3" selected="selected">第3层</option>-->
                  <!--<option value="1">第1层</option>-->
                  <!--<option value="2">第2层</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <input type="hidden" name="layer" value="{$layer}">
            <div class="am-form-group">
              <label class="am-u-sm-2 am-form-label">状态</label>
              <div class="am-u-sm-10">
                <select id="cid" name="status" class="form-control" size="1">
                  <option value="0">备用</option>
                </select>
              </div>
            </div>
            <div class="am-form-group">
              <label class="am-u-sm-2 am-form-label">平台</label>
              <div class="am-u-sm-10">
                <select id="cid" name="sys" class="form-control" size="1">
                  <option value="1">疯狂赚</option>
                  <option value="2">悦涩吧</option>
                  <option value="3">凌晨</option>
                  <option value="4">激情影院</option>
                </select>
              </div>
            </div>
            <div class="am-form-group">
              <div class="am-u-sm-10 am-u-sm-offset-2">
                <button type="submit" class="am-btn am-btn-default">添加</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content end -->

</div>
<include file="foot" />
</body>
</html>
