<header class="am-topbar admin-header">
  <div class="am-topbar-brand"> <a href="{:U('index/admin/index')}"><strong>YUNZHUO</strong> <small>后台管理</small></a></div>
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
      <li class="am-dropdown" data-am-dropdown> <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;"> <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span> </a>
        <ul class="am-dropdown-content">
          <li><a href="#" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}"><span class="am-icon-power-off" ></span>修改密码</a></li>
          <li><a href="{:U('index/admin/logout')}"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
<style type="text/css">
  .admin-sidebar-list .current{background: #427daf;}
  .admin-sidebar-list .current a{color: #fff;}
</style>
<div class="am-cf admin-main">
<!-- sidebar start -->
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas"  style="background:#fff;">
  <div class="am-offcanvas-bar admin-offcanvas-bar">
    <ul class="am-list admin-sidebar-list">      
          <li <if condition="$Think.ACTION_NAME=='errDomain'">class="current"</if>><a href="{:U('index/admin/errDomain')}"><span class="am-icon-table"></span> 第三层错误域名列表</a></li>     

          <li <if condition="$Think.ACTION_NAME=='qiniuSyncCheck'">class="current"</if>><a href="{:U('index/task/qiniuSyncCheck')}" target="_blank"><span class="am-icon-table"></span> 打开第三层域名检测</a></li>	  

          <!--<li <if condition=" I('get.layer')==1">class="current"</if>><a href="{:U('index/admin/domain')}?layer=1&type=1"><span class="am-icon-table"></span> 分享域名(第一层)</a></li>-->

          <li <if condition=" I('get.layer')==2">class="current"</if>><a href="{:U('index/admin/domain')}?layer=2&type=1"><span class="am-icon-table"></span> 入口域名(第二层)</a></li>

          <li <if condition=" I('get.layer')==3">class="current"</if>><a href="{:U('index/admin/domain')}?layer=3&type=1"><span class="am-icon-table"></span> 朋友圈(第三层)</a></li>

          <!--<li <if condition=" I('get.layer')==4">class="current"</if>><a href="{:U('index/admin/domain')}?layer=4&type=1"><span class="am-icon-table"></span> 二次分享(第四层)</a></li>-->

          <li <if condition=" I('get.layer')==9">class="current"</if>><a href="{:U('index/admin/domain')}?layer=9&type=1"><span class="am-icon-table"></span> 微信群入口域名</a></li>

          <li <if condition="$Think.ACTION_NAME=='grouppacket'">class="current"</if>><a href="{:U('index/admin/grouppacket')}"><span class="am-icon-table"></span> 微信群入口域名分组</a></li>

          <li <if condition="$Think.ACTION_NAME=='paydomain'">class="current"</if>><a href="{:U('index/admin/paydomain')}"><span class="am-icon-table"></span> 第一次支付域名</a></li>
          <!--<li <if condition="$Think.ACTION_NAME=='paydomaintwo'">class="current"</if>><a href="{:U('index/admin/paydomaintwo')}"><span class="am-icon-table"></span> 第二次支付域名</a></li>-->

          <li <if condition="$Think.ACTION_NAME=='payinfer'">class="current"</if>><a href="{:U('index/admin/payinfer')}"><span class="am-icon-table"></span> 支付接口</a></li>

          <li <if condition="$Think.ACTION_NAME=='logout'">class="current"</if>><a href="{:U('index/admin/logout')}"><span class="am-icon-sign-out"></span> 注销</a></li>
    </ul>
    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span>说明</p>
        <p>
         第一层为分享的域名,需要加cdn 最好白名单域名。 <br />
    解析的时候设置www    <br />
       第2层为为入口域名 需要加cdn 最好白名单 <br />
      解析的时候www 或者 其他2级 <br />
      第3层为展示页面 <br />
      解析的时候注意 *号泛解析  添加的时候 不要加www 直接输入域名 即可 不需要备案
        </p>
      </div>
    </div>
  </div>
</div>
<!-- sidebar end -->

<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1"  style="background:#fff;">
  <div class="am-modal-dialog">
    <div class="am-panel am-panel-default">
      <div class="am-panel-hd am-cf">密码修改</div>
      <div id="collapse-panel-2" class="am-in">
        <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
          <tbody>
            <form action="{:U('index/admin/password')}"  method="post">
            <tr>
              <th>密码</th>
              <th> <input type="password" name="password"  /></th>
            </tr>
            <tr>
              <th>重复密码</th>
              <th><input type="password" name="password1"  /></th>
            </tr>
            <tr>
              <th></th>
                    <th><input type="submit" value="修改" /></th>
            </tr>
            </form>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>