<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>后台首页</title>
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/assets/css/admin.css">
<style>
.weixin_list .weixin { width: 100%; height: auto; border-bottom: 1px solid #ccc; }
.weixin_list .weixin .left { height: 290px; line-height: 290px; color: #000; }
input { height: 35px; line-height: 35px; border: 1px solid #ccc; padding: 0px 5px; }
</style>
</head>
<body>
<include file="slide" /> 
<!-- content start -->
<div class="admin-content">
  <div class="am-g" style="margin-top:20px;">
    <div class="am-u-md-8">
      <div class="am-panel am-panel-default">
        <div class="am-panel-hd am-cf">第{:I('get.layer')}层域名列表</div>
        <div id="collapse-panel-4" class="am-panel-bd am-collapse am-in">
          <div class="weixin_list" style="padding-left:20px;">
            <div class="weixin am-g"  > <a  <?php if($type =="1"){ echo ' class="am-btn am-btn-danger" ';}else{ echo 'class="am-btn am-btn-primary"'; }?>  href="/index/admin/domain?layer=<?php echo I('get.layer');?>&type=1">启用的域名</a> <a <?php if($type =="2"){ echo ' class="am-btn am-btn-danger" ';}else{ echo 'class="am-btn am-btn-primary"'; }?>  href="/index/admin/domain?layer=<?php echo I('get.layer');?>&type=2" >拦截的域名</a> <a <?php if($type =="3"){ echo ' class="am-btn am-btn-danger" ';}else{ echo 'class="am-btn am-btn-primary"'; }?>   href="/index/admin/domain?layer=<?php echo I('get.layer');?>&type=3">备用的域名</a>
              <table class="am-table">
                <thead>
                  <tr>
                    <th style="width:4%"> ID</th>
                    <th>域名</th>
                    <th style="width:10%">状态</th>
                    <th>域名状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody id="app">
                  <?php foreach($domainlist as $v): ?>
                  <tr >
                    <td >{$v['id']}</td>
                    <td>{$v['url']}</td>
                    <td > <?php if($v['look'] == 0){ echo "开启";}else{ echo "关闭";}?> </td>
                    <td >({$v['checked']}) <?php if($v['checked']==1){?>已检测<?php }elseif($v['checked']===0){?>正在检测<?php }elseif($v['checked']==-1){?><span style="color: red">错误</span><?php }else{?>未检测<?php } ?></td>
                    <td>
                    <?php if($type == 1){?>
                    <a href="<?php echo U('index/admin/domain_save',array('type'=>2,'id'=>$v['id']));?>">拦截</a> 

                     <a href="<?php echo U('index/admin/domain_save',array('type'=>3,'id'=>$v['id']));?>">备用</a>
                     <?php }else{?>
                     <a href="<?php echo U('index/admin/domain_save',array('type'=>1,'id'=>$v['id']));?>">启用</a>
                     <?php }?>
                    </td>
                  </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="am-u-md-4">
      <div class="am-panel am-panel-default">
        <div class="am-panel-hd am-cf">添加域名</div>
        <div id="collapse-panel-4" class="am-panel-bd am-collapse am-in">
          <form class="am-form am-form-horizontal" action="{:U('index/admin/add_domain')}" method="post" >
            <div class="am-form-group">
              <label for="doc-ipt-3"class="am-u-sm-2 am-form-label">域名</label>
              <div class="am-u-sm-10">
                <input type="text"  name="url" id="doc-ipt-3" placeholder="输入域名">
              </div>
            </div>
           <div class="am-form-group">
              <label for="doc-ipt-3" name="k" class="am-u-sm-2 am-form-label">层级</label>
              <div class="am-u-sm-10">
                <select id="cid" name="layer" class="form-control" size="1"> 
                	<option value="3">第3层</option>
                  <option value="1">第1层</option>
                  <option value="2">第2层</option>
                </select>
              </div>
            </div>       
            <div class="am-form-group">
              <label for="doc-ipt-3" name="k" class="am-u-sm-2 am-form-label">状态</label>
              <div class="am-u-sm-10">
                <select id="cid" name="type" class="form-control" size="1">
                  <option value="1">启用</option>
                  <option value="3">备用</option>
                </select>
              </div>
            </div>
            <div class="am-form-group">
              <div class="am-u-sm-10 am-u-sm-offset-2">
                <button type="submit" class="am-btn am-btn-default">添加</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content end -->

</div>
<include file="foot" />
</body>
</html>
