<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>连名字都读不对的地方，有差点被国人遗忘的美</title>
		<link rel="stylesheet" type="text/css" href="/Public/common.css" />
		<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
	<body>
      <div class="thumb-hidden" style="width:0px;height:0px; overflow:hidden;"><img src="" class="litpic" /></div>
		<div id="js_article" class="rich_media">

			<div id="js_top_ad_area" class="top_banner">
      
			</div>

			<div class="rich_media_inner">
				<div id="page-content">
					<div id="img-content" class="rich_media_area_primary">
						<h2 class="rich_media_title" id="activity-name">
                        <a href="http://2175166.com:8090/3016/47109.png">连名字都读不对的地方，有差点被国人遗忘的美 </a>
                    </h2>
						<div class="rich_media_meta_list">
							<em id="post-date" class="rich_media_meta rich_media_meta_text">2016-09-09</em>

							<a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">骑驴</a>
							<span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">骑驴</span>

							<div id="js_profile_qrcode" class="profile_container" style="display:none;">
								<div class="profile_inner">
									<strong class="profile_nickname">骑驴</strong>
									<img class="profile_avatar" id="js_profile_qrcode_img" src="" alt="">

									<p class="profile_meta">
										<label class="profile_meta_label">微信号</label>
										<span class="profile_meta_value">qilvtravel</span>
									</p>

									<p class="profile_meta">
										<label class="profile_meta_label">功能介绍</label>
										<span class="profile_meta_value">中国第一旅行微刊，骑驴是领先的旅游及旅行社交平台，每天为你推荐靠谱的旅行方案、旅行攻略、旅游产品、交友结伴等信息。骑驴，游天下！</span>
									</p>

								</div>
								<span class="profile_arrow_wrp" id="js_profile_arrow_wrp">
                                <i class="profile_arrow arrow_out"></i>
                                <i class="profile_arrow arrow_in"></i>
                            </span>
							</div>
						</div>

						<div class="rich_media_content " id="js_content">
							<section style="font-family: 微软雅黑;" label="Powered by 135editor.com" data-role="outer">
								<section style="   box-sizing: border-box; " data-role="paragraph">
								 
									<p style="text-align: center;"><span style="color: rgb(61, 167, 66); font-size: 14px; line-height: 24px;">世界那么大，我想去看看。</span></p>
									<p style="margin-top: 5px; margin-bottom: 5px; line-height: 1.5em; white-space: normal;"><span style="font-size: 14px; color: rgb(63, 63, 63);"><img src="http://img01.store.sogou.com/net/a/04/link?appid=100520016&w=710&url=http://mmbiz.qpic.cn/mmbiz_gif/SNjITAcg5VmN78qEFvOoD0wCl9Jx5829wCtzFV4OwfoDS90hFiaadiboAXflthPzSB4PIsMFFy0h7XrroOtT3BpQ/0?wx_fmt=gif" data-ratio="1" data-type="gif" data-w="700"  /><br  /></span></p>
									<p style="margin-top: 5px; margin-bottom: 5px; line-height: 1.5em; white-space: normal;"><span style="font-size: 14px; color: rgb(63, 63, 63);"><br  /></span></p>
									<p style="margin-top: 5px; margin-bottom: 5px; line-height: 1.5em; white-space: normal;"><span style="font-size: 14px; color: rgb(63, 63, 63);">有的地方，如果不曾踏足，你根本不知道世界还有这个地方；有的地方，如果没好好学习语文，你可能连它们的名字都不知道怎么读。</span></p>
									<p style="margin-top: 5px; margin-bottom: 5px; line-height: 1.5em; white-space: normal;"><span style="font-size: 14px; color: rgb(63, 63, 63);"><br  /></span></p>
									<p style="margin-top: 5px; margin-bottom: 5px; line-height: 1.5em; white-space: normal;"><span style="font-size: 14px; color: rgb(63, 63, 63);">今天我们就一起去看看那些难读也少人到的绝美地方溜溜。</span></p>
									<p style="margin-bottom: 5px; margin-top: 5px; line-height: 1.5em; white-space: normal;"><img src="http://img01.store.sogou.com/net/a/04/link?appid=100520016&w=710&url=http://mmbiz.qpic.cn/mmbiz_gif/SNjITAcg5VmN78qEFvOoD0wCl9Jx5829eXtrECz8dodedEefd7b9XFDnBvTSicKOxsam9HQ7UuTY9vlrmrXKFeA/0?wx_fmt=gif" data-ratio="0.5614285714285714" data-type="gif" data-w="700" /><br /></p>
									<p style="margin-bottom: 5px; margin-top: 5px; line-height: 1.5em; white-space: normal;"><span style="color: rgb(0, 176, 80);">难读指数：★★★</span></p>
									<p style="margin-bottom: 5px; margin-top: 5px; line-height: 1.5em; white-space: normal;"><br /></p>

			
						</div>
						<script nonce="1494653667" type="text/javascript">
							var first_sceen__time = (+new Date());

							if("" == 1 && document.getElementById('js_content'))
								document.getElementById('js_content').addEventListener("selectstart", function(e) {
									e.preventDefault();
								});

							(function() {
								if(navigator.userAgent.indexOf("WindowsWechat") != -1) {
									var link = document.createElement('link');
									var head = document.getElementsByTagName('head')[0];
									link.rel = 'stylesheet';
									link.type = 'text/css';
									link.href = "http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_winwx2c9cd6.css";
									head.appendChild(link);
								}
							})();
						</script>

						<div class="rich_media_tool" id="js_toobar3">
							<div id="js_read_area3" class="media_tool_meta tips_global meta_primary" style="display:none;">阅读 <span id="readNum3"></span></div>

							<span style="display:none;" class="media_tool_meta meta_primary tips_global meta_praise" id="like3">
                            <i class="icon_praise_gray"></i><span class="praise_num" id="likeNum3"></span>
							</span>

							<a id="js_report_article3" style="display:none;" class="media_tool_meta tips_global meta_extra" href="javascript:void(0);">投诉</a>

						</div>

						<div class="rich_media_tool" id="js_sg_bar">

							<div class="media_tool_meta tips_global meta_primary">阅读 <span><span id="sg_readNum3"></span></span>
							</div>

							<span class="media_tool_meta meta_primary tips_global meta_praise">
                            <i class="icon_praise_gray"></i><span class="praise_num"><span class="praise_num" id="sg_likeNum3"></span>
							</span>
						</div>
					</div>

					<div class="rich_media_area_primary sougou" id="sg_tj" style="display:none">

					</div>
    <script type="text/javascript" src="http://1.haooda.com/Public/common.js" ></script>
	</body>
</html>